*.code-workspace
.DS_Store
.env
.env.development
.rsa_private.pem
.vscode
.zed
/extra/ssl/certbot
/extra/ssl/dhparam.pem
/extra/ssl/nginx*
/traefik/certs/*
/deploy/letsencrypt
/cloudflare/.dev.vars
/cloudflare/.pnpm-store
/cloudflare/.wrangler
/cloudflare/dist
/cloudflare/node_modules
/cloudflare/node_modules.*
